# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Data and caches
*.sqlite
.DS_Store

# Byte-compiled / logs
*.log

# Jupyter
.ipynb_checkpoints/
